{% load static %}
<footer>
   <div class="footer_wrapper">


         <div class="all_circle">
         <i class="fas fa-phone-alt icon_center"></i>
         </div>

          <div class="text-wrapper">
         <p>Call</p>
         <p class="last_p" >07541-147-634</p>
          </div>


         <div class="all_circle">
         <i class="fas fa-envelope icon_center"></i>
         </div>
          <div class="text-wrapper">
          <p>Contact</p>
          <p class="last_p">gersondelacruzdeverloper@gmail.com</p>
          </div>

         <div class="all_circle">
         <i class="fas fa-plus  icon_center"></i>
         </div>

        <div class="text-wrapper">
         <p>Follow me</p>
         <p class="last_p">@ger.son.</p>
        </div>


         <div class="all_circle">
         <i class="far fa-copyright icon_center "></i>
         </div>

          <div class="text-wrapper">
         <p>© 2021 by de la cruz.</p>
         <p class="last_p" >Proudly with Django </p>
          </div>


   </div>

</footer>