{% extends 'gerson/main.html' %}
{% load static %}

{% block content %}

<section class="contact_wrapper">

	<p class="contact_word">CONTACT</p>

    <div class="social_media2">
  <a href="https://www.facebook.com/gerson.delacruz.12979"><i id="facebook" class="fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/accounts/onetap/?next=%2F"><i id="instagram" class="fab fa-instagram"></i></a>
  <a href="https://api.whatsapp.com/send?phone=447541147634"><i id="whatsapp" class="fab fa-whatsapp"></i></a>
		<p class="cell"><span style="font-weight:bold;">Cell</span><span class="color_p">:07-541-147-634</span></p>
	   <p class="email"><span style="font-weight:bold;">Email</span><span class="color_p">:gersondelacruzdeverloper@gmail.com</span></p>
    </div>

	   <div class="contact_form">
			<a href=""></a>
		    <p>Looking forward to answering your email</p>

			<form id="contact-form" method="POST" action="{% url 'send_email' %}">
				{% csrf_token %}
				<a name="contact"></a>

				<input required class="input-field" type="text" name="name" placeholder="Name">

				<input required class="input-field" type="text" name="subject" placeholder="Subject">

				<input required class="input-field" type="email" name="email" placeholder="Email">

				<textarea required  class="input-field" name="message" placeholder="Type your message here..."></textarea>

				<input  class="form_btn" id="submit-btn" type="submit" value="Submit">
			</form>
		</div>

	<div class="social_media">
  <a class="" href="https://www.facebook.com/gerson.delacruz.12979"><i id="facebook" class="fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/accounts/onetap/?next=%2F"><i id="instagram" class="fab fa-instagram"></i></a>
  <a href="https://api.whatsapp.com/send?phone=07541147634"> <i id="whatsapp" class="fab fa-whatsapp"></i></a>
		<p class="cell"><span style="font-weight:bold;">Cell</span><span class="color_p">:07-541-147-634</span></p>
	   <p class="email"><span style="font-weight:bold;">Email</span><span class="color_p">:qapuntacana@gmail.com</span></p>
  </div>


	</section>
{% endblock content %}